.page-6 .compare-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page-6 .img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.page-6 .img-left {
  left: 0;
  width: 100%;
  z-index: 1;
}

.page-6 .img-right-wrapper {
  left: 0;
  width: 50%; /* initial position */
  overflow: hidden;
  z-index: 2;
  height: 100%;
  transition: width 0.1s ease-out;
}

.page-6 .img-right {
  width: 100vw; /* full width image */
  height: 100%;
  object-fit: cover;
}

.page-6 .divider {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  z-index: 3;
  transform: translateX(-50%);
  transition: left 0.1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-drag: none;
 pointer-events: auto;}

.page-6 .divider::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: #e0e0e0c7;
  left: 50%;
  transform: translateX(-50%);
}

.page-6 .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #949494b2;
  background: #575757c4;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: -3;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: auto;
}

.page-6 .left-arrow,
.page-6 .right-arrow {
  width: 24px;
  height: 24px;
}

.page-6 .left-arrow {
  transform: rotate(180deg);
}

.page-6 .before-text,
.page-6 .after-text {
  color: white;
  font-size: 36px;
  font-weight: 600;
  line-height: 24px;
  background: #bbbbbb80;
  padding: 14px 18px;
  border-radius: 18px;
  backdrop-filter: blur(4px);
  z-index: 4;
  white-space: nowrap;
  user-select: none;
}

.page-6 .before-text {
  position: absolute;
  top: 40px;
  left: -58px;
  transform: translateX(-100%);
}

.page-6 .after-text {
  position: absolute;
  top: 40px;
  right: -58px;
  transform: translateX(100%);
}
