.page-7 {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url("/assets/images/mystic.png");
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}
.page-7 .background {
  max-width: 769px;
  color: #ffffff;
  padding-top: 117px;
  padding-right: 22px;
  padding-left: 15px;
}
.page-7 h1 {
  font-size: 59.44px;
  font-weight: 600;
  line-height: 140%;
}
.page-7 span {
  font-size: 59.44px;
  font-weight: 600;
  line-height: 140%;
  color: #edc355;
}
.page-7 p {
  max-width: 690px;
  font-size: 29.44px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.5px;
}
.page-7 .image-source {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}

@media only screen and (max-width: 1240px) {
  .page-7 .background {
    padding-left: 15px;
    padding-top: 22px;
    color: #ffffff;
  }
  .page-7 h1 span {
    max-width: 606px;
  }
}
@media only screen and (max-height: 900px){
   .page-7 h1 {
    width: 95vw;
    font-size: 30px;
    padding-bottom: 22px;
    padding-left: 15px;
  }
  .page-7 span {
    width: 95vw;
    font-size: 35px;
  }

  .page-7 p {
    width: 95vw;
    font-size: 20px;
    padding-left: 15px;
  } 
}
@media only screen and (max-width: 740px) {
  .page-7 {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
      url("/assets/images/mystic.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-7 h1 {
    width: 95vw;
    font-size: 30px;
    padding-bottom: 22px;
    padding-left: 15px;
  }
  .page-7 span {
    width: 95vw;
    font-size: 30px;
  }

  .page-7 p {
    width: 95vw;
    font-size: 16px;
    padding-left: 15px;
  }
  .page-7 .background {
    padding-top: 78px;
  }
}
