.page-6 {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 100%),
    url("/assets/images/mystic.png");
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  
}
.page-6 .background{
    max-width: 769px;
    color: #FFFFFF;
    padding-top: 117px;
    padding-right: 22px;

}
.page-6 h1{
    font-size: 59.44px;
    font-weight: 600;
    line-height: 140%;
}
.page-6 span{
    font-size: 59.44px;
    font-weight: 600;
    line-height: 140%;
    color: #edc355;

}
.page-6 p{
    max-width: 690px;
    font-size: 29.44px;
    font-weight: 300;
    line-height: 160%;
}

@media only screen and (max-width: 1240px) {
  .page-6 .background {
  padding-left: 15px;
  padding-top: 22px;
  color: #ffffff;
}
  .page-6 h1 span{
    max-width: 606px;
  }
}
@media only screen and (max-width: 740px) {
  .page-6 h1 span{
    width: 95vw;
    font-size: 39.99px;
    padding-bottom: 22px;
  }

  .page-6 p {
    width: 95vw;
    font-size: 19.99px;
  }
  .page-6{
    background-position:center;
  }
}