.page-4 {
  background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(285.71deg, rgba(37, 43, 48, 0) -76.11%, #252b30 92.54%);
  height: 100%;
  width: 100%;
}
.page-4 .body-container {
  display: flex;
  justify-content: flex-start;
  padding: 134px 0px 0px 54px;
}
.page-4 .head {
  display: none;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 25px;
}
.page-4 .head span {
  color: #edc355;
  font-size: 48px;
  font-weight: 700;
}
.page-4 .left-container {
  flex-shrink: 0;
}
.page-4 .top-header {
  max-width: 797px;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: 25px;
  color: #ffffff;
}
.page-4 .top-header span {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  color: #edc355;
}

.page-4 .main-content {
  max-width: 718px;
  line-height: 160%;
  letter-spacing: 0.5px;
  font-size: 29.44px;
  font-weight: 300;
  color: #ffffff;
}
.page-4 .right-container {
  max-height: 891px;
  max-width: 1046px;
  display: flex;
  justify-content: center;
  padding: 0 180px;
}
.cycle-diagram {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-family: sans-serif;
  position: relative;
  padding-top: 90px;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .image {
  position: absolute;
  width: 350px;
  height: 350px;
}
.icon {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

/* Label styles */
.label {
  position: absolute;
  width: 160px;
  text-align: center;
}

.label h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.label p {
  font-size: 12px;
  margin-top: 4px;
}

/* Position each label */
.label.top {
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  color: #f28c28;
}
.label.top p {
  color: white;
}

.label.top-right {
  top: 50px;
  right: -180px;
  color: #ffcc00;
}
.label.label.top-right p {
  color: white;
}

.label.bottom-right {
  bottom: -45px;
  right: -90px;
  color: #0091ff;
}
.label.bottom-right p {
  color: white;
}

.label.bottom-left {
  bottom: -45px;
  left: -90px;
  color: #0091ff;
}
.label.bottom-left p {
  color: white;
}
.label.top-left {
  top: 50px;
  left: -180px;
  color: #3fd07a;
}
.label.top-left p {
  color: white;
}
.page-4 .image-source {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}

@media only screen and (max-width: 1652px) {
  .page-4 .left-container {
    flex-shrink: 1;
  }
}

@media only screen and (min-width: 1440px) {
  .page-4 .body-container {
    justify-content: center;
    gap: 150px;
  }
}
@media only screen and (max-height: 900px) {
  .page-4 .top-header {
    font-size: 33px;
  }
  .page-4 .top-header span {
    font-size: 33px;
  }

  .page-4 .main-content {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1207px) {
  .page-4 .top-header {
    display: none;
  }
  .page-4 .head {
    display: block;
    font-size: 28px;
    padding: 100px 0 15px 15px;
    width: 95vw;
  }
  .page-4 .head span {
    font-size: 28px;
  }
  .page-4 .main-content {
    padding-left: 15px;
    font-size: 19px;
  }
  .page-4 .body-container {
    padding: 54px 54px 54px 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .page-4 .top-header {
    display: none;
  }
  .page-4 .body-container {
    padding: 0px;
    flex-direction: column;
    /* padding-left: 15px; */
    padding-bottom: 25px;
  }
  .page-4 .head {
    display: block;
    font-size: 22px;
    padding: 22px 0 15px 15px;
    width: 95vw;
  }
  .page-4 .main-content {
    width: 95vw;
    font-size: 16px;
    flex-shrink: 0;
  }
  .page-4 .right-container {
    padding: 10px 140px 80px 140px;

    margin-top: 25px;
  }
}
@media only screen and (max-width: 802px) {
  .page-4 .main-content {
    width: 95vw;
    font-size: 14px;
    flex-shrink: 0;
  }
  .page-4 .head {
    font-size: 28px;
    padding-top: 22px;
  }
  .page-4 .right-container {
    padding-top: 8px;
  }
  .rotate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recycle {
    width: 100px;
    height: 100px;
  }

  .circle .image {
    width: 180px;
    height: 180px;
  }

  .label.top {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #f28c28;
  }
  .label.top-right {
    /* top: 70px; */
    right: -60px;
    color: #ffcc00;
  }
  .label.bottom-right {
    bottom: 20px;
    right: -20px;
    color: #0091ff;
  }
  .label.bottom-left {
    bottom: 28px;
    left: -20px;
    color: #0091ff;
  }
  .label.top-left {
    /* top: px; */
    left: -55px;
    color: #3fd07a;
  }
  .label h4 {
  margin: 0;
  font-size: 10px;
  font-weight: 600;
}
.label p {
  font-size: 9.13px;
  margin-top: 4px;
  /* width: 50px; */
}
}

@media only screen and (max-width: 400px){
  .label.top-right {
    /* top: 70px; */
    right: -50px;
    color: #ffcc00;
  }
  .label.top-left {
    /* top: px; */
    left: -50px;
    color: #3fd07a;
  } 
  .cycle-diagram{
    padding-top: 15px;
  }
}
/* animation */
.rotate {
  animation: spin 8s linear infinite;
  transform-origin: center center;

  width: 314px;
  height: 314px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
