/* page4 */
.page-3 {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  isolation: isolate;
}
.page-3 .content {
  position: relative;
  z-index: 4;
  width: 100%;
  /* margin-right: 50px; */
  padding-right: 39px;
  padding-top: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.page-3 .content .content-header {
  width: 769px;
  font-size: 59.44px;
  font-weight: 600;
  line-height: 140%;
  padding-bottom: 15px;
}
.page-3 .content .content-header span {
  color: #edc355;
  font-size: 59.44px;
  font-weight: 600;
  line-height: 140%;
}
.page-3 .content .content-body {
  width: 690px;
  font-size: 29.44px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 160%;
}
.page-3 .background {
  position: absolute;
  inset: 0;
  isolation: isolate;
  background: #252b30;
  /* background: #3a4043; */
  z-index: 1;
  opacity: 1;
  /* filter: brightness(1.05); */
}

.layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: none;
  border: 1px solid #252b30;
}

.page-3 .background .active {
  opacity: 1;
}

/* clip-path: inset(0 0 0 100%); */
/* transition: clip-path 1.9s linear;  */

.page-3 .background .overlay {
  z-index: 2;
  opacity: 1;
  will-change: clip-path;
  mix-blend-mode: normal;
  pointer-events: none;
  clip-path: inset(0 0 0 100%); /* start hidden */
}

/* .layer.overlay[src$=".gif"] {
  mix-blend-mode: screen; 
  opacity: 0.8;
  filter: brightness(1.1) contrast(1.1);
  z-index: 1;
} */

.page-3 .image-source {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  z-index: 5;
}
.city-icon {
  height: 200px;
  width: 200px;
  position: absolute;
  z-index: 5;
  left: 50px;
  bottom: 25px;
}
@media only screen and (max-width: 1440px) {
  .layer{
    object-fit: contain;
    background-size: contain;
  }
  .page-3 .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .city-icon {
    height: 150px;
    width: 150px;
    left: 25px;
    bottom: 25px;
  }
  .page-3 .content {
    padding-right: 19px;
    padding-top: 15px;
  }
  .page-3 .content .content-header {
    font-size: 39px;
    padding-bottom: 8px;
  }
  .page-3 .content .content-header span {
    font-size: 39px;
  }
  .page-3 .content .content-body {
    font-size: 19px;
  }
}

@media only screen and (max-height: 1000px){
  .page-3 .content .content-header {
    font-size: 39px;
  }
  .page-3 .content .content-header span {
    font-size: 39px;
  }
  .page-3 .content .content-body {
    font-size: 19px;
  } 
}
@media only screen and (max-width: 804px) {
  .page-3 .content {
    width: 95vw;
    justify-content: center;
    padding-right: 0;
    margin-left: 15px;
  }
  .page-3 .content .content-header {
    width: 95vw;
    font-size: 30px;
  }
  .page-3 .content .content-header span {
    width: 95vw;
    font-size: 30px;
  }
  .page-3 .content .content-body {
    width: 95vw;
    font-size: 16px;
  }
  .city-icon {
    height: 100px;
    width: 100px;
    left: 15px;
    bottom: 35px;
  }
}