.page-5 .background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(25, 35, 52, 0.4), rgba(25, 35, 52, 0.4)),
    /* linear-gradient(0deg, #252B30, #252B30), */
      linear-gradient(180deg, rgba(0, 0, 0, 0) 56.9%, #000000 100%),
    linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) -99.17%,
      rgba(34, 45, 66, 0.2) 100%
    ),
    url("/assets/images/FloodImage.png");
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
}
.page-5 .background {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.page-5 .left-container {
  position: relative;
  width: 30%;
  overflow: hidden;
}

.page-5.active .left-container {
  width: 50%;
  height: 100%;
  object-fit: contain;
}
.page-5 .left-container img.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: bottom;
  transition: transform 1.9s ease, opacity 1.9s ease;
}
.img2-wrapper {
  background: #00000080;
}
.page-5 .background img.image2 {
  position: absolute;
  right: 25px;
  bottom: 22px;
  max-width: 290px;
  z-index: 8;
}

/*  */
.page-5 .image3-wrapper {
  position: absolute;
  bottom: 15px;
  left: calc(35% + 10px);
  z-index: 8;
}

.page-5.active .image3-wrapper {
  left: calc(50% + 10px);
}

.page-5 .image3 {
  max-width: 200px;
}
/*  */

.page-5 .right-container {
  color: white;
  padding: 73px 47px 0px 80px;
}
.page-5 .right-container h1 {
  font-size: 60.43px;
  font-weight: 600;
  line-height: 140%;
}
.page-5 .right-container span {
  font-size: 60.43px;
  font-weight: 600;
  line-height: 140%;
  color: #edc355;
}
.page-5 .right-container p {
  font-size: 29.44px;
  font-weight: 300;
  line-height: 170%;
  letter-spacing: 0.51px;
}

.page-5.active .right-container {
  width: 65%;
}
.page-5 .image-source {
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}
.page-5 .right-container .image4 {
  display: none;
}

@media only screen and (max-width: 1440px) {
  .page-5 .right-container h1 {
    font-size: 48px;
  }
  .page-5 .right-container span {
    font-size: 48px;
  }
  .page-5 .right-container p {
    font-size: 22px;
  }
  .image3 {
    height: 127px;
    width: 127px;
  }
  .image2 {
    height: 133px;
    width: 233px;
  }
}
@media only screen and (max-width: 1024px){
  .page-5 .right-container{
    padding-top: 76px;
  }
   .page-5 .right-container h1 {
    font-size: 39px;
  }
  .page-5 .right-container span {
    font-size: 39px;
  }
  .page-5 .right-container p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 800px) {
  .page-5 .background {

    background: linear-gradient(rgba(25, 35, 52, 0.4), rgba(25, 35, 52, 0.4)),
      linear-gradient(0deg, #252b30, #252b30),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 56.9%, #000000 100%),
      linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) -99.17%,
        rgba(34, 45, 66, 0.2) 100%
      );
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: contain;
  }
  .page-5 .left-container {
    display: none;
  }
  .page-5.active .right-container {
    width: 90vw;
  }
  .page-5 .right-container {
    /* padding-top: 22px; */
    padding-left: 0px;
    padding-right: 0px;
  }
  .page-5 .right-container .image4 {
    display: block;
    height: 50%;
    /* width: 392px; */
    padding-top: 15px;
    width: 100%;
  }
  .page-5.active .image3-wrapper {
    left: 22px;
    bottom: 8%;
  }
  .page-5 .background img.image2 {
    right: 25px;
    bottom: 10%;

  }
  .page-5 .right-container h1 {
    font-size: 30px;
  }
  .page-5 .right-container span {
    font-size: 30px;
  }
  .page-5 .right-container p {
    font-size: 14px;
  }
  .page-5 .image-source {
    position: absolute;
    top: 97%;
    right: 10px;
  }
}
@media only screen and (max-height: 850px) {
  .page-5 .right-container{
    padding-top: 22px;
  }
  .page-5 .right-container h1 {
    font-size: 29px;
  }
  .page-5 .right-container span {
    font-size: 29px;
  }
  .page-5 .right-container p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px){
   .page-5.active .image3 {
    height: 100px;
    width: 100px;
  }
  .page-5 .background img.image2 {
    height: 90px;
    width: 200px;
    
  }
   .page-5 .right-container h1 {
    font-size: 22px;
  }
  .page-5 .right-container span {
    font-size: 22px;
  }
  .page-5 .right-container p {
    font-size: 14px;
  }
}