/* page4 */
.page-3 {
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  isolation: isolate;
}
.page-3 .content {
  position: relative;
  z-index: 4;
  width: 100%;
  /* margin-right: 50px; */
  padding-right: 39px;
  padding-top: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.page-3 .content .content-header {
  width: 769px;
  font-size: 65px;
  font-weight: 600;
  line-height: 120%;
  padding-bottom: 15px;
}
.page-3 .content .content-header span{
  color: #edc355;
  font-size: 65px;
  font-weight: 600;
  line-height: 120%;
}
.page-3 .content .content-body {
  width: 690px;
  font-size: 29.44px;
  font-weight: 300;
  line-height: 140%;

}
.page-3 .background {
  position: absolute;
  inset: 0;
  isolation: isolate;
  background: #252b30;
  z-index: 1;
  opacity: 1;
  filter: brightness(1.05);
}

.layer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease;
  pointer-events: none;
  border: 1px solid #252b30;
}

.page-3 .background .active {
  opacity: 1;
}

.page-3 .background .overlay {
  z-index: 2;
  opacity: 1; 
  clip-path: inset(0 0 0 100%);
  transition: clip-path 0.3s ease; 
  will-change: clip-path;
  mix-blend-mode: normal;
  pointer-events: none;
}

.page-3 .image-source {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  z-index: 5;
}
.city-icon {
  position: absolute;
  z-index: 5;
  left: 50px;
  bottom: 25px;
}
