.page-2 {
  background: linear-gradient(0deg, #252b30, #252b30),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 56.9%, #000000 100%);
  height: 100%;
  width: 100%;
}
.page-2 .background {
  position: relative;
  height: 100%;
  display: flex;
  padding: 107px 50px 0px 55px;
  gap: 20px;
}
.page-2 .left-container {
  width: 60%;
  position: relative;
}
.page-2 .left-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

.page-2 .img-top,
.page-2 .img-bottom {
  opacity: 1 !important; /* Always visible */
  z-index: 3;
}
.page-2 .info-name {
  position: absolute;
  bottom: 8%;
  left: 5.5%;
  font-size: 17.85px;
  font-weight: 500;
  line-height: 100%;
  color: #edc355;
}

.page-2 .right-container {
  width: 40%;
  color: white;
  padding-bottom: 15px;
}
.page-2 .right-container h1 {
  font-size: 59.44px;
  font-weight: 700;
  line-height: 140%;
}

.page-2 .right-container span {
  font-size: 59.44px;
  font-weight: 700;
  line-height: 140%;
  color: #edc355;
}
.page-2 .right-container p {
  font-size: 29.44px;
  font-weight: 300;
  line-height: 170%;
}
.page-2 .image-source {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}
@media only screen and (max-width: 1440px){
  .page-2 .background{
    padding-top: 45px;
    gap:8px;
  }
   .page-2 .right-container h1 {
  font-size: 39px;
  line-height: 140%;
}
 .page-2 .right-container span {
  font-size: 39px;
  line-height: 140%;
}
.page-2 .right-container p {
  font-size: 19px;
}
}
@media only screen and (max-width: 741px){
  .page-2 .info-name{
    bottom: 2%;
    width: 95vw;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1024px) {
  .page-2 .background {
    padding-left: 15px;
    padding-top: 22px;
    flex-direction: column-reverse;
    /* justify-content: space-around; */
  }

  .page-2 .right-container {
    /* max-width: 606px; */
    width: 100%;
    height: 40%;
  }
 .page-2 .right-container h1 {
  font-size: 32px;
  line-height: 140%;
}
.page-2 .right-container span {
  font-size: 32px;
}
.page-2 .right-container p {
  font-size: 16px;
}
.page-2 .info-name{
  font-size: 14px;
  bottom: 10%;
}

  .page-2 .left-container {
    width: 100%;
    height: 60%;
  }
}
