.page-8 {
  background: linear-gradient(0deg, #252b30, #252b30),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 56.9%, #000000 100%);
  height: 100vh;
  width: 100vw;
}
.page-8 .background {
  display: flex;
  gap: 191px;
  padding: 91px 93px 0 175px;
}
.page-8 .left-container {
  max-width: 568px;
  max-height: 857px;
  padding-bottom: 25px;
}
.page-8 .left-container .death-image {
  max-height: 700px;
  padding-bottom: 15px;
}
.page-8 .right-container {
  color: white;
  padding-bottom: 15px;
}
.page-8 .right-container h1 {
  font-size: 59.44px;
  font-weight: 600;
  line-height: 140%;
}
.page-8 .right-container span {
  font-size: 59.44px;
  font-weight: 600;
  line-height: 140%;
  color: #edc355;
}
.page-8 .right-container p {
  font-size: 29.44px;
  font-weight: 300;
  line-height: 170%;
  letter-spacing: 0.5px;
}
@media only screen and (max-width: 1024px) {
  .page-8 .right-container h1 {
    font-size: 30px;
  }
  .page-8 .right-container p {
    font-size: 15px;
  }
  .page-8 .right-container span {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1240px) {
  .page-8 .background {
    gap: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }
}
