.page-10 {
  background: linear-gradient(0deg, #252b30, #252b30),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 56.9%, #000000 100%);
  height: 100%;
  width: 100%;
}
.page-10 .background {
  display: flex;
  justify-content: center;
  gap: 55px;

  padding: 129px 69px 0 76px;
}
.page-10 .left-container {
  width: 50%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-10 .left-container .relief-image {
  /* max-width:  982px; */
  width: 100%;
  height: 65%;
}
.page-10 .left-container h1 {
  font-size: 49.71px;
  font-weight: 700;
  line-height: 150%;
  color: #edc355;
}
.page-10 .right-container {
  /* max-width: 738px; */
  width: 50%;
  color: white;
  padding-bottom: 15px;
}
.page-10 .right-container h1 {
  font-size: 59.44px;
  font-weight: 600;
  line-height: 140%;
  padding-bottom: 8px;
}
.page-10 .right-container span {
  font-size: 59.44px;
  font-weight: 600;
  line-height: 140%;
  color: #edc355;
}
.page-10 .right-container p {
  font-size: 29.44px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.5px;
}

/* @media only screen and (max-width: 1024px) {
  .page-10 .background {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
  }
  .page-10 .left-container h1 {
    font-size: 25px;
  }

  .page-10 .right-container h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .page-10 .right-container span {
    font-size: 30px;
  }
  .page-10 .right-container p {
    font-size: 15px;
  }
} */

.page-10 .background .image-source {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
  }

@media only screen and (max-height: 900px){
  .page-10 .background{
    padding-top: 25px;
  }
  .page-10 .right-container h1 {
    font-size: 40px;
    padding-bottom: 20px;
  }
  .page-10 .right-container span {
    font-size: 40px;
  }
  .page-10 .right-container p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1024px) {
  .page-10 .background {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
  }
  .page-10 .left-container{
    width: 45vw;
  }
  .page-10 .right-container{
    width: 95vw;
  }

  .page-10 .right-container h1 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .page-10 .right-container span {
    font-size: 30px;
  }
  .page-10 .right-container p {
    font-size: 15px;
  }
  .page-10 .left-container h1{
    font-size: 25px;
  }
}
@media only screen and (max-width: 650px){
  .page-10 .left-container{
    width: 80vw;
  }
  .page-10 .background{
    gap: 35px;
  }
}
@media only screen and (max-width: 400px){
 .page-10 .left-container .relief-image {
  /* max-width:  982px; */
  width: 90%;
  height: 55%;
}

}