* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    overscroll-behavior: none;
    overflow: hidden;
}

.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 5px;
    height: 25px;
    background: #e3e3e3;
    z-index: 10;
    transition: top 0.1s ease;
}

#page-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    background: #f0f0f0;

    font-size: 3em;
    transition: opacity 0.5s ease;
    z-index: 0;
}

.page.active {
    opacity: 1;
    z-index: 1;
}