* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  overscroll-behavior: none;
  overflow: hidden;
}
.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 5px;
  height: 125px;
  background: linear-gradient(to bottom, black, white);
  z-index: 10;
  transition: top 0.1s ease;
}

#page-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  opacity: 0;
  background: #f0f0f0;

  font-size: 3em;
  transition: opacity 0.5s ease;
  z-index: 0;
}

.page.active {
  opacity: 1;
  z-index: 1;
}
.flyup {
  animation: fly-up 1.2s ease-in-out;
}

@keyframes fly-up {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.flyin {
  animation: fly-in 1.2s ease-in-out;
}

@keyframes fly-in {
  0% {
    transform: translateX(80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fadein {
  animation: fadeIn 1.2s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scale {
  animation: scaleIn 0.8s ease-out forwards;
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
